body{
    margin: 0;
    font-family: sans-serif;
    color: #eee;
    background-color: #222;
}
form{
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 55px #0009;
    font-size: 16px;
}
h2{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.3em;
    padding: 10px;
}
.form_input{
    padding: 10px 20px;
}
input, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border-left: 3px solid #999;
    border-right: 3px solid #999;
    border-radius: 4px;
    box-shadow: 0 0 15px #0007;
    background-color: transparent;
    color: #eee;
    margin-top: 4px;
}
textarea{
    min-width: 100%;
    resize: vertical;
    font-family: sans-serif;
    font-style: italic;
}
label{
    font-size: 0.8em;
}

.checkbox{
    width: auto;
    height: auto;
}