body{
    background-color: #333;
    color: #ddd;
}

details{
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 9px;
}
summary{
    background-color: transparent;
    border-bottom: 1px solid #ddd;
}