body{
    background-color: #333;
    color: #ddd;
    font-family: sans-serif;
}

details{
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 9px;
    font-size: 12px;
}
details[open]{
    background-color: #ddd;
    color: #333;
    font-weight: bold;
}
summary{
    background-color: transparent;
    font-size: 16px;
}
ul{
    font-weight: 100;
}