body {
    background-color: black;
    font-family: sans-serif;
    color: white;
}

.card {
    background-color: midnightblue;
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 40px;

    /*border-width: 4px;
    border-style: solid;
    border-color: azure;*/
    border: 4px solid azure;
    border-radius: 5px;
}

h1{
    padding-top: 30px;
    font-size: 22px;
    margin: 0;
    text-transform: uppercase;
}

h2{
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
}

p{
    font-size: 12px;
    font-weight: 100;
    padding: 20px;
    margin: 0;
    text-align: justify;
    line-height: 130%;
    background-color: cornflowerblue;
}