body {
    background-color: #fff;
    font-family: sans-serif;
}

.card{
    background-color: #058; color: #fee;
    text-align: center;
    width: 300px;
    margin: auto; margin-top: 50px;
    padding: 30px; border-radius: 8px;

    box-shadow: 0 0 45px #0007;
}
.card_img{
    width: 150px;
    border-radius: 40%;
}
.card_title{
    margin: 0; margin-top: 10px;
    font-size: 22px; text-transform: uppercase;
}
.card_subtittle{
    font-size: 14px; font-weight: 100;
    letter-spacing: 1px;
    margin: 0; margin-top: 5px;
}
.card_content{
    font-size: 12px; font-weight: 100;
    text-align: justify; line-height: 130%;
    margin-top: 20px; margin-bottom: 0;
}