body{
    margin: 0;
    font-family: sans-serif;
    color: #eee;
    background-color: #222;
}
form{
    background-color: transparent;
    padding: 10px 20px;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 55px #0009;
    font-size: 16px;
}
input, textarea, select{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border-left: 3px solid #999;
    border-right: 3px solid #999;
    border-radius: 4px;
    box-shadow: 0 0 15px #0007;
    background-color: transparent;
    color: #eee;
    margin-top: 4px;
    margin: 6px 0;
}

fieldset{
    margin: 20px 0;
    border-radius: 4px;
    border: none;
    border-top: 3px solid #999;
    border-left: 3px solid #999;
}

legend{
    padding: 1px 6px;
    border: 2px solid #999;
    border-radius: 4px;
    background-color: #999;
    color: #222;
    text-transform: uppercase;
    font-size: 90%;
}

.pag{
    padding: 10px 30px;
    background-color: #999;
}
a{
    padding: 4px;
    text-decoration: none;
    color: #222;
    border: 2px solid #222;
    border-radius: 7px;
}